# Taller de análisis de datos con Python para principiantes

## ***1. Imports***
**Importamos las librerias**

In [203]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

**Importamos los datos en dataframes**

In [206]:
?pd.read_csv

## 2. Exploración de datos
Vamos a revisar los datos que acabamos de importar. 
- `df.head()` nos permite ver las primeras 5 lineas del df
- `df.tail()` nos permite ver las últimas 5 lineas del df
- `df.sample(n)` nos permite ver n lineas al azar del df

**Usando el nombre del df podemos imprimirlo (casi) en su totalidad**

**En las opciones de display podemos definir cuantas filas queremos ver**

In [211]:
pd.options.display.max_rows = 10

**Usando `shape`, `info` y `describe` podemos ver las dimensiones del df y sus caracteristicas**

**Ahora hacemos lo mismo con el segundo df**

___
## ***3. Limpieza de datos***
Ahora que vimos como estan presentados los datos en cada dataframe, vamos a preparlos para poder hacer nuestro analisis. 
Parte del analisis va a ser una comparacion entre los dataframes, para facilitarlo ambos df deberian tener las mismas columnas con el mismo tipo de dato. 
- Eliminar MES en df2015
- Renombrar N como MES en df2015
- Renombrar ASIGNACION POR CARGO y ASIG_MENSUALES a SALARIO en ambos df
- Dividir APELLIDO_Y_NOMBRE en columnas APELLIDO y NOMBRES en df2020
- Renombrar REPARTICION como CARGO en df2020
- Eliminar columnas AGUINALDO, TOTAL SALARIO BRUTO y OBSERVACIONES en df2020
- Eliminar columnas SALARIO_FAMILIAR, DESCUENTOS_MENSUALES, LIQUIDO en df2015

**Dividamos APELLIDO_Y_NOMBRE en dos columnas**

Con el metodo `split` de el tipo de dato `str` podemos dividir un string en dos definiendo un separador

In [ ]:
#Revisemos como quedo

**Eliminemos columnas que no vamos a usar**

Con el metrodo `drop` podemos eliminar columnas de un df. 

Podemos definir una lista para eliminar varias columnas a la vez.

**Renombremos las columnas que son equivalentes**

Con el metodo `rename` podemos renombrar columnas, asignado al viejo valor uno nuevo en un diccionario.

Vemos que el salario en ambos dataframes deberia ser un numero, pero Python no lo reconoce como tal.  
En df2020 el salario tiene un simbolo **$** y un separador de miles **,**.
Con el metodo `replace` podemos quitarlo y convertirlo a tipo de dato float (numero real)

En df2015 el problema esta en el separador de decimales que usa coma en vez de punto. Vamos a reemplazarlo y convertir a tipo de dato float.

Con el metodo `unique` podemos ver obtener los distintos valores que existen en una columna, podemos modificar esa columna antes de aplicarle el metodo. 
Sabemos que un CUIL que comienza con 20 corresponde a sexo Masculino y 27 a Femenino, vamos a utilizar eso para validar los datos y armar una nueva columna para agregar el sexo del empleado.

**Utilizando `value_counts` podemos contar las apariciones de cada valor existente en una columna**

Este método tiene distintas opciones, como por ejemplo la de normalizar los valores para entender su distribución en el conjunto de datos.

**Para simplicar el analisis vamos a tomar solo un mes de cada año. Podemos a plicar un filtro al dataframe y asignarlo al mismo df para reemplazar sus valores.**

## **4. Graficar los datos**
**4.1. Distribución de sexo en cargos**

Con un gráfico de torta podemos mostrar la distribucion de cargos por sexo

**4.2. Salario medio por sexo**

Veamos cual es el salario medio (mean) por sexo y usemos un grafico de barra para mostrarlo.

**Con style podemos elegir distintos estilos para aplicar en nuestros graficos**

Si bien hay menos mujeres, vemos que tienden a tener un salario mayor que los hombres.

Veamos con un poco mas de detalle esto en los datos usando un grafico de dispersion (scatter plot).

**4.3. Comparación salario 2015 vs 2020**

Con un histograma podemos mostrar la distribución de los valores, al ejecutarlos juntos podemos verlos en un mismo gráfico.

Con un boxplot podemos ver fácilmente la distribución de los valores, cual es su minimo, máximo y media.

**No es una comparacion valida debido a la inflacion, vamos a convertir los salarios en dolares:**
- Cotizacion dolar al 30/01/2015 = $8.57

- Cotizacion dolar al 30/01/2020 = $58.47

Vamos a explorar la distrinución de los datos nuevamente.

**Para facilitar la visualización podemos simplicar el gráfico y reducirlo a una medida importante que pueda dar la misma impresión**

Calculemos la media del salario para cada año y mostremoslo en un gráfico de barras.