# Taller de análisis de datos con Python para principiantes

## ***1. Imports***
**Importamos las librerias**

In [3]:
import pandas as pd
import numpy as np

Pandas includes numpy as `np`, and it's convenient to have this available directly:

**Importamos los datos en dataframes**

In [84]:
df2020 = pd.read_csv('datos/SUELDOS_FUNCIONARIOS_2020.csv')

In [64]:
df2015 = pd.read_csv('datos/sueldos-funcionarios-2015.csv',delimiter=';')

In [13]:
?pd.read_csv

## 2. Exploración de datos
Vamos a revisar los datos que acabamos de importar. 
- `df.head()` nos permite ver las primeras 5 lineas del df
- `df.tail()` nos permite ver las últimas 5 lineas del df
- `df.sample(n)` nos permite ver n lineas al azar del df

In [14]:
df2020.head()

,CUIL,AÑO,MES,APELLIDO_Y_NOMBRE,REPARTICION,ASIGNACIÓN POR CARGO\n(I),AGUINALDO\n(II),TOTAL SALARIO BRUTO\n(I) + (II),OBSERVACIONES
0,20-17692128-6,2020,1,"RODRIGUEZ LARRETA, HORACIO ANTONIO",Jefe de Gobierno,"$245,812",$0,"$245,812",NaN
1,20-17692128-6,2020,2,"RODRIGUEZ LARRETA, HORACIO ANTONIO",Jefe de Gobierno,"$245,812",$0,"$245,812",NaN
2,20-17692128-6,2020,3,"RODRIGUEZ LARRETA, HORACIO ANTONIO",Jefe de Gobierno,"$245,812",$0,"$245,812",NaN
3,20-17692128-6,2020,4,"RODRIGUEZ LARRETA, HORACIO ANTONIO",Jefe de Gobierno,"$245,812",$0,"$245,812",NaN
4,20-17692128-6,2020,5,"RODRIGUEZ LARRETA, HORACIO ANTONIO",Jefe de Gobierno,"$245,812",$0,"$245,812",Con el objetivo de disponer de mayores recurso...

In [19]:
df2020.tail()

,CUIL,AÑO,MES,APELLIDO_Y_NOMBRE,REPARTICION,ASIGNACIÓN POR CARGO\n(I),AGUINALDO\n(II),TOTAL SALARIO BRUTO\n(I) + (II),OBSERVACIONES
240,27-26690980-8,2020,4,"UHALDE, MARIA PAULA",SECR Transformación Cultural,"$283,458",$0,"$283,458",NaN
241,27-26690980-8,2020,5,"UHALDE, MARIA PAULA",SECR Transformación Cultural,"$283,458",$0,"$283,458",Con el objetivo de disponer de mayores recurso...
242,27-26690980-8,2020,6,"UHALDE, MARIA PAULA",SECR Transformación Cultural,"$283,458",$0,"$283,458",Por Decreto 246/AJG/2020 y Resolución 3.513/MH...
243,27-26690980-8,2020,7,"UHALDE, MARIA PAULA",SECR Transformación Cultural,"$283,458",$0,"$283,458",Con el objetivo de disponer de mayores recurso...
244,27-26690980-8,2020,8,"UHALDE, MARIA PAULA",SECR Transformación Cultural,"$283,458","$141,729","$425,187",NaN

In [18]:
df2020.sample()

,CUIL,AÑO,MES,APELLIDO_Y_NOMBRE,REPARTICION,ASIGNACIÓN POR CARGO\n(I),AGUINALDO\n(II),TOTAL SALARIO BRUTO\n(I) + (II),OBSERVACIONES
133,20-28908968-4,2020,6,"COELHO CHICANO, CHRISTIAN",SECR de Medios,"$303,802",$0,"$303,802",Por Decreto 246/AJG/2020 y Resolución 3.513/MH...

**Usando el nombre del df podemos imprimirlo (casi) en su totalidad**

In [20]:
df2020

,CUIL,AÑO,MES,APELLIDO_Y_NOMBRE,REPARTICION,ASIGNACIÓN POR CARGO\n(I),AGUINALDO\n(II),TOTAL SALARIO BRUTO\n(I) + (II),OBSERVACIONES
0,20-17692128-6,2020,1,"RODRIGUEZ LARRETA, HORACIO ANTONIO",Jefe de Gobierno,"$245,812",$0,"$245,812",NaN
1,20-17692128-6,2020,2,"RODRIGUEZ LARRETA, HORACIO ANTONIO",Jefe de Gobierno,"$245,812",$0,"$245,812",NaN
2,20-17692128-6,2020,3,"RODRIGUEZ LARRETA, HORACIO ANTONIO",Jefe de Gobierno,"$245,812",$0,"$245,812",NaN
3,20-17692128-6,2020,4,"RODRIGUEZ LARRETA, HORACIO ANTONIO",Jefe de Gobierno,"$245,812",$0,"$245,812",NaN
4,20-17692128-6,2020,5,"RODRIGUEZ LARRETA, HORACIO ANTONIO",Jefe de Gobierno,"$245,812",$0,"$245,812",Con el objetivo de disponer de mayores recurso...
...,...,...,...,...,...,...,...,...,...
240,27-26690980-8,2020,4,"UHALDE, MARIA PAULA",SECR Transformación Cultural,"$283,458",$0,"$283,458",NaN
241,27-26690980-8,2020,5,"UHALDE, MARIA PAULA",SECR Transformación Cultural,"$283,458",$0,"$283,458",Con el objetivo de disponer de mayores recurso...
242,27-26690980-8,2020,6,"UHALDE, MARIA PAULA",SECR Transformación Cultural,"$283,458",$0,"$283,458",Por Decreto 246/AJG/2020 y Resolución 3.513/MH...
243,27-26690980-8,2020,7,"UHALDE, MARIA PAULA",SECR Transformación Cultural,"$283,458",$0,"$283,458",Con el objetivo de disponer de mayores recurso...
244,27-26690980-8,2020,8,"UHALDE, MARIA PAULA",SECR Transformación Cultural,"$283,458","$141,729","$425,187",NaN

**podemos definir cuantas filas queremos ver**

In [31]:
pd.options.display.max_rows = 10

In [32]:
df2020

,CUIL,AÑO,MES,APELLIDO_Y_NOMBRE,REPARTICION,ASIGNACIÓN POR CARGO\n(I),AGUINALDO\n(II),TOTAL SALARIO BRUTO\n(I) + (II),OBSERVACIONES
0,20-17692128-6,2020,1,"RODRIGUEZ LARRETA, HORACIO ANTONIO",Jefe de Gobierno,"$245,812",$0,"$245,812",NaN
1,20-17692128-6,2020,2,"RODRIGUEZ LARRETA, HORACIO ANTONIO",Jefe de Gobierno,"$245,812",$0,"$245,812",NaN
2,20-17692128-6,2020,3,"RODRIGUEZ LARRETA, HORACIO ANTONIO",Jefe de Gobierno,"$245,812",$0,"$245,812",NaN
3,20-17692128-6,2020,4,"RODRIGUEZ LARRETA, HORACIO ANTONIO",Jefe de Gobierno,"$245,812",$0,"$245,812",NaN
4,20-17692128-6,2020,5,"RODRIGUEZ LARRETA, HORACIO ANTONIO",Jefe de Gobierno,"$245,812",$0,"$245,812",Con el objetivo de disponer de mayores recurso...
...,...,...,...,...,...,...,...,...,...
240,27-26690980-8,2020,4,"UHALDE, MARIA PAULA",SECR Transformación Cultural,"$283,458",$0,"$283,458",NaN
241,27-26690980-8,2020,5,"UHALDE, MARIA PAULA",SECR Transformación Cultural,"$283,458",$0,"$283,458",Con el objetivo de disponer de mayores recurso...
242,27-26690980-8,2020,6,"UHALDE, MARIA PAULA",SECR Transformación Cultural,"$283,458",$0,"$283,458",Por Decreto 246/AJG/2020 y Resolución 3.513/MH...
243,27-26690980-8,2020,7,"UHALDE, MARIA PAULA",SECR Transformación Cultural,"$283,458",$0,"$283,458",Con el objetivo de disponer de mayores recurso...
244,27-26690980-8,2020,8,"UHALDE, MARIA PAULA",SECR Transformación Cultural,"$283,458","$141,729","$425,187",NaN

**Usando `shape`, `info` y `describe` podemos ver las dimensiones del df y sus caracteristicas**

In [25]:
df2020.shape

(245, 9)

In [26]:
df2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CUIL                            245 non-null    object
 1   AÑO                             245 non-null    int64
 2   MES                             245 non-null    int64
 3   APELLIDO_Y_NOMBRE               245 non-null    object
 4   REPARTICION                     245 non-null    object
 5   ASIGNACIÓN POR CARGO
(I)        245 non-null    object
 6   AGUINALDO
(II)                  245 non-null    object
 7   TOTAL SALARIO BRUTO
(I) + (II)  245 non-null    object
 8   OBSERVACIONES                   90 non-null     object
dtypes: int64(2), object(7)
memory usage: 17.4+ KB

In [33]:
df2020.describe()

          AÑO         MES
count   245.0  245.000000
mean   2020.0    4.465306
std       0.0    2.291248
min    2020.0    1.000000
25%    2020.0    2.000000
50%    2020.0    4.000000
75%    2020.0    6.000000
max    2020.0    8.000000

**Ahora hacemos lo mismo con el segundo df**

In [38]:
df2015.sample(5)

,AÑO,N,MES,APELLIDO,NOMBRES,CARGO,ASIG_MENSUALES,SALARIO_FAMILIAR,DESCUENTOS_MENSUALES,LIQUIDO
248,2015,11,NOVIEMBRE,LOMBARDI,HERNAN SANTIAGO,MINISTRO DE CULTURA,"92402,3","0,0","-39980,4","52422,0"
161,2015,7,JULIO,RODRIGUEZ LARRETA,HORACIO ANTONIO,JEFE DE GABINETE DE MINISTROS,"78976,2","0,0","49262,1","-29714,1"
122,2015,6,JUNIO,MONTENEGRO,GUILLERMO TRISTAN,MINISTRO DE JUSTICIA Y SEGURIDAD,"118464,2","0,0","-35696,1","82768,2"
179,2015,8,AGOSTO,GAYTAN,FACUNDO AMADO,SECRETARIO DE COMUNICACION SOCIAL,"75027,4","0,0","-33153,8","41873,5"
167,2015,7,JULIO,NaN,NaN,DIRECTOR GENERAL,"55283,3","0,0","0,0","0,0"

In [39]:
df2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AÑO                   283 non-null    int64
 1   N                     283 non-null    int64
 2   MES                   283 non-null    object
 3   APELLIDO              247 non-null    object
 4   NOMBRES               247 non-null    object
 5   CARGO                 283 non-null    object
 6   ASIG_MENSUALES        283 non-null    object
 7   SALARIO_FAMILIAR      283 non-null    object
 8   DESCUENTOS_MENSUALES  283 non-null    object
 9   LIQUIDO               283 non-null    object
dtypes: int64(2), object(8)
memory usage: 22.2+ KB

___
## ***3. Limpieza de datos***
Ahora que vimos como estan presentados los datos en cada dataframe, vamos a preparlos para poder hacer nuestro analisis. 
Parte del analisis va a ser una comparacion entre los dataframes, para facilitarlo ambos df deberian tener las mismas columnas con el mismo tipo de dato. 
- Eliminar MES en df2015
- Renombrar N como MES en df2015
- Renombrar ASIGNACION POR CARGO y ASIG_MENSUALES a SALARIO en ambos df
- Dividir APELLIDO_Y_NOMBRE en columnas APELLIDO y NOMBRES en df2020
- Renombrar REPARTICION como CARGO en df2020
- Eliminar columnas AGUINALDO, TOTAL SALARIO BRUTO y OBSERVACIONES en df2020
- Eliminar columnas SALARIO_FAMILIAR, DESCUENTOS_MENSUALES, LIQUIDO en df2015

**Dividamos APELLIDO_Y_NOMBRE en dos columnas**

Con el metodo `split` de el tipo de dato `str` podemos dividir un string en dos definiendo un separador

In [85]:
df2020[['APELLIDO','NOMBRES']] = df2020['APELLIDO_Y_NOMBRE'].str.split(',', expand=True)

In [86]:
#Revisemos como quedo
df2020.sample(3)

,CUIL,AÑO,MES,APELLIDO_Y_NOMBRE,REPARTICION,ASIGNACIÓN POR CARGO\n(I),AGUINALDO\n(II),TOTAL SALARIO BRUTO\n(I) + (II),OBSERVACIONES,APELLIDO,NOMBRES
239,27-26690980-8,2020,3,"UHALDE, MARIA PAULA",SECR Transformación Cultural,"$283,458",$0,"$283,458",NaN,UHALDE,MARIA PAULA
150,27-17593512-1,2020,2,"MONTIEL, MARIA LETICIA",SECR Legal y Técnica,"$303,802",$0,"$303,802",NaN,MONTIEL,MARIA LETICIA
217,20-29751476-9,2020,5,"CARRILLO, FACUNDO",SECR Atención Ciudadana y Gestión Comunal,"$283,458",$0,"$283,458",Con el objetivo de disponer de mayores recurso...,CARRILLO,FACUNDO

**Eliminemos columnas que no vamos a usar**

Con el metrodo `drop` podemos eliminar columnas de un df. 

Podemos definir una lista para eliminar varias columnas a la vez.

In [67]:
eliminar = ['MES', 'SALARIO_FAMILIAR', 'DESCUENTOS_MENSUALES', 'LIQUIDO']

In [68]:
df2015 = df2015.drop(eliminar, axis=1)

In [69]:
df2015.sample(3)

,AÑO,N,APELLIDO,NOMBRES,CARGO,ASIG_MENSUALES
146,2015,7,IBARRA,ANDRES HORACIO,MINISTRO DE MODERNIZACION,"78976,2"
235,2015,10,VIDAL,MARIA EUGENIA,VICE JEFA DE GOBIERNO,"81343,0"
277,2015,12,RODRIGUEZ LARRETA,HORACIO ANTONIO,JEFE DE GABINETE DE MINISTROS,"68531,7"

In [87]:
eliminar = ['AGUINALDO\n(II)', 'TOTAL SALARIO BRUTO\n(I) + (II)', 'OBSERVACIONES','APELLIDO_Y_NOMBRE']

In [88]:
df2020 = df2020.drop(eliminar, axis=1)

In [72]:
df2020.sample(3)

,CUIL,AÑO,MES,REPARTICION,ASIGNACIÓN POR CARGO\n(I),APELLIDO,NOMBRES
109,20-17110752-1,2020,6,SECR Ambiente,"$311,939",MACCHIAVELLI,EDUARDO ALBERTO
6,20-17692128-6,2020,7,Jefe de Gobierno,"$245,812",RODRIGUEZ LARRETA,HORACIO ANTONIO
22,20-13872301-2,2020,7,Procuración General de la Ciudad de Buenos Aires,"$311,939",ASTARLOA,GABRIEL MARIA

**Renombremos las columnas que son equivalentes**

Con el metodo `rename` podemos renombrar columnas, asignado al viejo valor uno nuevo en un diccionario.

In [73]:
df2015.rename(columns={'N' : 'MES', 'ASIG_MENSUALES' : 'SALARIO'}, inplace=True)

In [74]:
df2015.sample(3)

,AÑO,MES,APELLIDO,NOMBRES,CARGO,SALARIO
91,2015,5,CHAIN,DANIEL GUSTAVO,MINISTRO DE DESARROLLO URBANO,"78976,2"
270,2015,12,LOMBARDI,HERNAN SANTIAGO,MINISTRO DE CULTURA,"68531,7"
107,2015,5,NaN,NaN,DIRECTOR GENERAL,"55283,3"

In [89]:
df2020.rename(columns={'REPARTICION' : 'CARGO', 'ASIGNACIÓN POR CARGO\n(I)' : 'SALARIO'}, inplace=True)

In [90]:
df2020.sample(3)

,CUIL,AÑO,MES,CARGO,SALARIO,APELLIDO,NOMBRES
236,27-21759789-2,2020,8,"Consejo de los Derechos de Niñas, Niños y Adol...","$283,458",LEGUIZAMON,ISABELLA KARINA
126,20-24424714-9,2020,7,SECR Justicia y Seguridad,"$303,802",D'ALESSANDRO,MARCELO SILVIO
15,20-17735449-0,2020,8,Vicejefatura de Gobierno,"$245,812",SANTILLI,DIEGO CESAR

In [77]:
df2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CUIL      245 non-null    object
 1   AÑO       245 non-null    int64
 2   MES       245 non-null    int64
 3   CARGO     245 non-null    object
 4   SALARIO   245 non-null    object
 5   APELLIDO  245 non-null    object
 6   NOMBRES   245 non-null    object
dtypes: int64(2), object(5)
memory usage: 13.5+ KB

In [78]:
df2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   AÑO       283 non-null    int64
 1   MES       283 non-null    int64
 2   APELLIDO  247 non-null    object
 3   NOMBRES   247 non-null    object
 4   CARGO     283 non-null    object
 5   SALARIO   283 non-null    object
dtypes: int64(2), object(4)
memory usage: 13.4+ KB

In [95]:
df2020['SALARIO'] = df2020['SALARIO'].str.replace('[$,]', '').astype(float)

/home/vic/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [96]:
df2020.sample(3)

,CUIL,AÑO,MES,CARGO,SALARIO,APELLIDO,NOMBRES
73,27-13092400-5,2020,2,Sindicatura General de la Ciudad de Buenos Aires,311939.0,FREDA,MONICA BEATRIZ
182,20-24563562-2,2020,2,SECR Desarrollo Ciudadano,283458.0,GESUALDO,GUSTAVO ALFREDO
242,27-26690980-8,2020,6,SECR Transformación Cultural,283458.0,UHALDE,MARIA PAULA

In [97]:
df2015['SALARIO'] = df2015['SALARIO'].str.replace(',', '').astype(float)

In [98]:
df2015.sample(10)

,AÑO,MES,APELLIDO,NOMBRES,CARGO,SALARIO
42,2015,2,NaN,NaN,DIRECTOR GENERAL ADJUNTO,480726.0
14,2015,1,PEÑA,MARCOS,SECRETARIO GENERAL,686751.0
278,2015,12,STANLEY,CAROLINA,MINISTRA DE DESARROLLO SOCIAL,685317.0
68,2015,4,CENZON,EDGARDO DAVID,MINISTRO DE AMBIENTE Y ESPACIO PUBLICO,789762.0
261,2015,12,BULLRICH,ESTEBAN JOSE,MINISTRO DE EDUCACION,685317.0
2,2015,1,CENZON,EDGARDO DAVID,MINISTRO DE AMBIENTE Y ESPACIO PUBLICO,686751.0
87,2015,4,NaN,NaN,SUBSECRETARIO,631809.0
219,2015,10,CENZON,EDGARDO DAVID,MINISTRO DE AMBIENTE Y ESPACIO PUBLICO,924023.0
116,2015,6,GAYTAN,FACUNDO AMADO,SECRETARIO DE COMUNICACION SOCIAL,1125410.0
102,2015,5,PEÑA,MARCOS,SECRETARIO GENERAL,789762.0

In [103]:
np.unique(df2020['CUIL'].str[:2])

array(['20', '27'], dtype=object)

In [104]:
df2020['SEXO'] = np.where(df2020['CUIL'].str[:2]== '20', 'Masculino', 'Femenino')

In [107]:
df2020.sample(10)

,CUIL,AÑO,MES,CARGO,SALARIO,APELLIDO,NOMBRES,SEXO
83,27-24483014-0,2020,4,Ministerio de Educación,311939.0,ACUÑA,MARIA SOLEDAD,Femenino
225,20-30593774-7,2020,5,"SECR Planificación, Evaluación y Coordinación ...",283458.0,AVELLANEDA,PATRICIO IGNACIO,Masculino
77,27-13092400-5,2020,6,Sindicatura General de la Ciudad de Buenos Aires,311939.0,FREDA,MONICA BEATRIZ,Femenino
137,20-31164337-2,2020,2,"SECR Comunicación, Contenidos y Participación ...",303802.0,DI BENEDETTO,FEDERICO,Masculino
105,20-17110752-1,2020,2,SECR Ambiente,311939.0,MACCHIAVELLI,EDUARDO ALBERTO,Masculino
54,20-22293873-3,2020,7,Jefatura de Gabinete de Ministros,311939.0,MIGUEL,FELIPE OSCAR,Masculino
218,20-29751476-9,2020,6,SECR Atención Ciudadana y Gestión Comunal,283458.0,CARRILLO,FACUNDO,Masculino
57,20-24941711-5,2020,2,Ministerio de Hacienda y Finanzas,311939.0,MURA,MARTIN,Masculino
169,20-22293622-6,2020,5,SECR Integración Social y Urbana,283458.0,FERNANDEZ,DIEGO HERNAN,Masculino
195,20-25567686-6,2020,7,SECR Innovación y Transformación Digital,283458.0,BENEGAS,FERNANDO,Masculino

In [108]:
df2020['SEXO'].value_counts()

Masculino    185
Femenino      60
Name: SEXO, dtype: int64

In [114]:
df2020['SEXO'].value_counts(normalize = True)

Masculino    0.741935
Femenino     0.258065
Name: SEXO, dtype: float64

In [112]:
df2020 = df2020[(df2020.MES == 1)]
df2015 = df2015[(df2015.MES == 1)]

In [111]:
df2020.shape

(31, 8)

In [113]:
df2015.shape

(22, 6)

## **4. Graficar los datos**
**4.1. Distribucion de sexo en cargos**

In [140]:
%matplotlib inline
df2020['SEXO'].value_counts(normalize = True).pie()

AttributeError: 'Series' object has no attribute 'pie'

In [143]:
salario_mediana = df2020.pivot_table('SALARIO', index='CARGO', aggfunc='median')

In [144]:
salario_mediana.index

Index(['Consejo de los Derechos de Niñas, Niños y Adoles - Presidencia',
       'Ente de Turismo Ley Nº 2627', 'Jefatura de Gabinete de Ministros',
       'Jefe de Gobierno', 'Ministerio de Cultura',
       'Ministerio de Desarrollo Económico y Producción',
       'Ministerio de Desarrollo Humano y Hábitat', 'Ministerio de Educación',
       'Ministerio de Espacio Público e Higiene Urbana',
       'Ministerio de Gobierno', 'Ministerio de Hacienda y Finanzas',
       'Ministerio de Salud',
       'Procuración General de la Ciudad de Buenos Aires', 'SECR Ambiente',
       'SECR Asuntos Estratégicos',
       'SECR Atención Ciudadana y Gestión Comunal',
       'SECR Comunicación, Contenidos y Participación Ciudadana',
       'SECR Desarrollo Ciudadano', 'SECR Desarrollo Urbano',
       'SECR General y Relaciones Internacionales',
       'SECR Innovación y Transformación Digital',
       'SECR Integración Social Para Personas Mayores',
       'SECR Integración Social y Urbana', 'SECR Justicia y Seguridad',
       'SECR Legal y Técnica',
       'SECR Planificación, Evaluación y Coordinación de Gestión',
       'SECR Transformación Cultural', 'SECR Transporte y Obras Públicas',
       'SECR de Medios', 'Sindicatura General de la Ciudad de Buenos Aires',
       'Vicejefatura de Gobierno'],
      dtype='object', name='CARGO')